
body {
   font-family: Arial, sans-serif;
}

#container {
    margin:auto;
    width:60%;
    background-color:lightyellow;
    border:3px solid brown;
    padding:1em;
    border-radius:5%;
}
.picture {
    width:99%;
    height:auto;
    border:inset orange 4px;
}
#text {
    width:80%;
    margin:auto;
    height:200px;
    align-content:center;
    background-color:yellow;
    margin-top:1em;
    padding: 0,1em,0,1em;
    border: 6px dashed orange;
    font-family:"justified";
    overflow:auto;
}
span {
    font-weight:bold;
    font-style:italic;
}